<style>
    .otp-code {
      padding: 10px;
      margin-top: 10px;
    }
  
    .otp-code strong {
      font-weight: bold;
    }
    .otp-code .otp-code-code{
      font-size: x-large;
      color: darkblue;
    }
  </style>

<p>Hello,</p>

<p>Welcome to our platform! We're excited to have you on board.</p>
<p>To complete your account verification, please use the following OTP code:</p>

<div class="otp-code">
  <p style="display: flex; flex-direction: row;"><strong>Your Verification Code:</strong> <p class="otp-code-code" style="color: darkblue; font-size: x-large;"><%= otpCode %></p></p>
</div>

<p class="copy-link">If you have trouble using the OTP code, please contact our support team for assistance.</p>

<p>Please note that the OTP code is valid for a single use and will expire after 10 min. Make sure to complete the verification process promptly and please do not share this code with anyone.</p>
<p>If you have any questions or need further assistance, please don't hesitate to contact our support team.</p>

<p>If you don't recognize this activity, please reset your password immediately and contact our customer support at [support email or phone number].</p>

<p><em>This is an automated message; please do not reply.</em></p>
