      <p>Hello ,</p>

        <p>
          We have received your request, and it is currently under review by our
          admin team.
        </p>
        <p>
          Rest assured that our team is carefully assessing the information
          provided and working diligently to process your request.
        </p>
        <p>
          We appreciate your patience during this review process. Once the
          review is complete, we will get back to you with further updates.
        </p>
        <p>
          If you have any urgent inquiries or need any further assistance,
          please feel free to contact our support team.
        </p>
        <p>Thank you for your understanding.</p>
        