          <p>Hello ,</p>

    <p>Welcome to our platform! We're excited to have you on board.</p>
    <p>To complete your account verification, please click the button below:</p>

    <div class="cta-button">
      <a href="<%= verificationLink %>">Verify My Account</a>
    </div>

    <p class="copy-link">If the button above doesn't work, you can also copy and paste the following link into your browser:</p>
    <a class="formatted-link" href="<%= verificationLink %>">Link</a>
    <p>Please note that the verification link will expire after 1 hour. Make sure to complete the verification process within that time frame.</p>
    <p>If you have any questions or need further assistance, please don't hesitate to contact our support team.</p>

   







