 <p>Hello,</p>
    <p>We are pleased to inform you that there is a new contact request from a member: <strong><%= companyName %></strong> from <strong><%= country %></strong> .</p>
    <p>You can review the details of this request by clicking on the following link: <a href="<%= link %>">View Contact Request</a></p>
    <p>If you have any questions or require further information, please feel free to reach out to us.</p>
    <p>Thank you for your continued support!</p>